:root {
    padding: auto;
    margin: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    padding: 10px;
    margin: 10px;
    margin-bottom: 10%;
}

.heading {
    margin-bottom: 70px;
    font-size: 60px;
}
.p-heading {
    font-size: 20px;
    margin: 0 auto;
    max-width: 70%;
    padding: 30px 40px;
}

#start-quiz {
    padding: 10px 10px 10px;
    background-color: purple;
    border: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    
    text-decoration: none;
    color: white;
    margin-top: 50px;
}
/*our start button will change coor to red when hovered over*/
#start-quiz:hover {
    background-color: red;
}
/*box conatiner to hold the question and answers*/
#question-cont {
    width: 800px;
    max-width: 80%;
    background-color: rgb(192, 192, 192);
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
}
/*arranged the ansers to be in a single grid format*/
.btn-grid {
    display: grid;
    margin: 10px 0;
}
/*styling for the answers*/
.btn {
    background-color: rgb(130, 195, 211);
    margin: 10px;
    font-weight:bold;
    border: 1px solid rgb(97, 146, 158);;
    border-radius: 10px;
}
.btn:hover {
    background-color: white;
    border: 2px dashed black;
}
.btn.wrong {
    background-color: red;
    color: white;
}
/*class of hide will be used to display and turn of items on the screen*/
.hide {
    display:none ;
}